<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= image %>">
    <meta property="og:image:width" content="<%= width %>">
    <meta property="og:image:height" content="<%= height %>">
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <img src="<%= image %>">
    <p>
      This page has been simplified for web crawlers. See the full version at <a href="https://www.hylo.com">Hylo.com</a>.
    </p>
  </body>
</html>
